@model FreshShop.ViewModels.Catalog.Coupon.CouponUpdateRequest
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page-header start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">Cập nhật thông tin mã giảm giá</h5>
                    <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="/"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/Coupon/Index">Mã giảm giá</a>
                    </li>
                    <li class="breadcrumb-item">
                        @Html.ActionLink("Cập nhật", "Update", "Coupon", new { id = Model.Id })
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">

            <!-- Page body start -->
            <div class="page-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">


                            </div>
                            <div class="card-block">
                                <form asp-action="Update" asp-controller="Coupon" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input asp-for="Id" type="hidden" />
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" asp-for="Title"></label>
                                        <div class="col-sm-10">
                                            <input asp-for="Title" type="text" class="form-control">
                                            <span asp-validation-for="Title" class="text-danger"></span>
                                        </div>
                                    </div>                                 

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" asp-for="FromDate"></label>
                                        <div class="col-sm-10">
                                            <input asp-for="FromDate" type="date" class="form-control">
                                            <span asp-validation-for="FromDate" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" asp-for="ExpiredDate"></label>
                                        <div class="col-sm-10">
                                            <input asp-for="ExpiredDate" type="date" class="form-control">
                                            <span asp-validation-for="ExpiredDate" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" asp-for="Discount"></label>
                                        <div class="col-sm-10">
                                            <input asp-for="Discount" type="number" class="form-control">
                                            <span asp-validation-for="Discount" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" asp-for="Quantity"></label>
                                        <div class="col-sm-10">
                                            <input asp-for="Quantity" type="number" class="form-control">
                                            <span asp-validation-for="Quantity" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="Cập nhật" class="btn btn-primary" />
                                        <a class="btn btn-primary" asp-action="Index">Quay về</a>
                                    </div>
                                </form>


                            </div>
                        </div>


                    </div>

                </div>

            </div>
            <!-- Page body end -->
        </div>
    </div>
    <!-- Main-body end -->
</div>

